
/* article left ------------------------------------------------------------------------- */

.articleStickerLong{
	position:absolute;
	left:285px;
	top:0px;
	width:258px;
	height:21px;
	text-align:center;
	text-transform:uppercase;
	background-color:black;
	border-radius:0px 3px 3px 0px;
	margin-top:10px;
	z-index:1;
}
.articleLeft {
	position:absolute;
	left:10px;
	width:285px;
	height:544px;
	background-color:#363E40;
}
.article .question{
	color:#F1F0F0;
	padding:20px 15px 0px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.article p:nth-child(7){
	margin-top:10px;
}
.article .answer{
	padding:3px 15px 0px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:none;
}
#articleButton{
	position:absolute;
	left:25px;
	top:415px;
}
#articleButton a{
	display:block;
	margin-bottom:3px;
	color:#CFCECE;
	padding-left:30px;
	padding-top:4px;
	height:20px;
}
#articleButton .buttonBook{
	background:url('img/icon_book_billet.png') left no-repeat;
}
#articleButton .buttonGeo{
	background:url('img/icon_geolocaliser_billet.png') left no-repeat;
}
#articleButton .buttonShare{
	background:url('img/icon_share_billet.png') left no-repeat;
}
#articleButton .buttonAdd{
	background:url('img/icon_add_billet.png') left no-repeat;
}

/* article bottom ------------------------------------------------------------------------- */

.articleBottom {
	position:absolute;
	left:295px;
	top:285px;
	width:675px;
	height:259px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff !important;
	font-size:12px;
}
.articleBottom h1{
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	margin:10px 25px 0px 25px;
}
.articleBottom p{
	margin:10px 25px 0px 25px;
	text-align:justify;
	line-height:1.4em;;
}
.articleBottom .signature{
	margin:10px 25px 0px 25px;
	text-align:right;
}
.articleBottom a.back{
	position:absolute;
	bottom:25px;
	right:25px;
	padding-right:25px;
	background:url('../img/arrow_left.png') no-repeat right;
}

/* category colors ------------------------------------------------------------------------- */
/* Boire & manger */
.cat3  .answer			{ color:			#FF4D4D; }
.cat3  .articleBottom	{ background-color:	#FF4D4D; }

/* Dormir */
.cat28  .answer			{ color:			#F22600; }
.cat28  .articleBottom	{ background-color:	#F22600; }

/* Être solidaire */
.cat32  .answer			{ color:			#E5662B; }
.cat32  .articleBottom	{ background-color:	#E5662B; }

/* Faire du shopping */
.cat39  .answer			{ color:			#B12553; }
.cat39  .articleBottom	{ background-color:	#B12553; }

/* Prendre soin de soi */
.cat57  .answer			{ color:			#2A9D1F; }
.cat57  .articleBottom	{ background-color:	#2A9D1F; }

/* Rester chez soi */
.cat67  .answer			{ color:			#804F82; }
.cat67  .articleBottom	{ background-color:	#804F82; }

/* S’occuper des enfants */
.cat76  .answer			{ color:			#818806; }
.cat76  .articleBottom	{ background-color:	#818806; }

/* S’organiser */
.cat87  .answer			{ color:			#D8A003; }
.cat87  .articleBottom	{ background-color:	#D8A003; }

/* Sortir */
.cat94  .answer			{ color:			#F22165; }
.cat94  .articleBottom	{ background-color:	#F22165; }

/* Voir & apprendre */
.cat99  .answer			{ color:			#384AA6; }
.cat99  .articleBottom	{ background-color:	#384AA6; }
