@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 700;
}
