
* {
	margin:0px;
	padding:0px;
	/*border:black 1px solid;*/
}

body {
	background:url('../img/background.gif');
}

#mainWrapper {
	width:980px;
	margin:auto;
	background-color:#fff;
}

a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	text-decoration:none;
}

/* font ------------------------------------------------------------------------- */

#headerTitle {
	position:absolute;
	left:200px;
	top:75px;
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
}

#headerTitle .titleNumber {
	position:relative;
	top:-5px;
	font-size:32px;
}

#headerTitle em {
	text-decoration:underline;
	font-style:normal;
}

#headerTitle strong {
	font-weight:normal;
	color:#CB2585;
}

.articleSticker{
	padding:0px 15px 1px 0px;
	display:inline-block;
	width:130px;
	text-align:right;
	background-color:black;
	border-radius:3px 0px 0px 3px;
	margin-left:145px;
	margin-top:10px;
}
.text1{
	color:#CED2D3;
	padding:20px 15px 0px 25px;
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:13px;
	text-transform:uppercase;
}
.text2{
	color:#CED2D3;
	padding:10px 15px 0px 25px;
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:18px;
}
.text3{
	color:white;
	padding:0px 15px 0px 25px;
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:24px;
}
.text4{
	color:white;
	padding:0px 15px 0px 25px;
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:18px;
}

.articleBillet {
	position:absolute;
	left:25px;
	top:210px;
	background:url('../img/arrow_right.png') no-repeat;
}
.articleBillet a {
	position:relative;
	top:-3px;
	left:27px;
}

.articleBook {
	position:absolute;
	left:25px;
	top:240px;
	background:url('../img/icon_book.png') no-repeat;
}
.articleBook a {
	position:relative;
	top:-2px;
	left:27px;
}

/* list item buttons */
#listButton {
	text-align:right;
	padding-top:10px;
}
.listButtonPrint {
	background:url('../img/icon_print.png') no-repeat;
	padding:0px 20px 0px 27px;
	color:#949393;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.listButtonShare {
	background:url('../img/icon_share.png') no-repeat;
	padding:0px 20px 0px 22px;
	color:#949393;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.listButtonExp {
	background:url('../img/icon_propose.png') no-repeat;
	padding:0px 20px 10px 22px;
	color:#949393;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

/* header ------------------------------------------------------------------------- */
header {
	position:relative;
	height:122px;
}

#headerTop {
	height:30px;
	background-color:#6FB6C6;
}

#logo {
	position:absolute;
	left:5px;
	top:8px;
	z-index:1;
}

/* section ------------------------------------------------------------------------- */
section {
	position:relative;
	width:980px;
	height:555px;
	background-color:#fff;
	overflow:hidden;
	z-index:0;
}

/* article ------------------------------------------------------------------------- */
.articleLeft {
	position:absolute;
	left:10px;
	width:285px;
	height:285px;
	background-color:#363E40;
}

.articleRight {
	position:absolute;
	left:295px;
	width:675px;
	height:285px;
}

/* main list ------------------------------------------------------------------------- */
#mainList {
	position:absolute;
	width:956px;
	height:245px;
	top:295px;
	left:10px;
	border-radius: 0px 0px 10px 10px;
	border-right:dotted #ccc 2px;
	border-left:dotted #ccc 2px;
	border-bottom:dotted #ccc 2px;
}

#mainList table {
	border-collapse:collapse;
}

#mainList .spacer {
	height:5px;
}

#mainList colgroup .col1 {
	width:25px;
}
#mainList colgroup .col2 {
	width:75px;
}
#mainList colgroup .col3 {
	width:183px;
}
#mainList colgroup .col4 {
	width:325px;
}
#mainList colgroup .col5 {
	width:348px;
}

.listItem {
	background-color:#efefef;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	cursor:pointer;
}

.listItem td:nth-child(1) {
	background-color:#CFCECE;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
}

#mainList td {
	padding-left:25px;
}
#mainList td:first-child {
	padding-left:0px;
	text-align:center;
}

.listItem_activated {
	background-color:#79397A;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
}

.listItem_activated td:nth-child(1) {
	font-size:18px !important;
}

.listItem_activated td:nth-child(4) {
	background-color:#363636 !important;
}

/* aside ------------------------------------------------------------------------- */
aside {
	position:relative;
	height:345px;
	background-color:#B7D4DE;
}

#asideLeft {
	display:inline-block;
	width:230px;
	padding:25px 30px 0px 35px;;
}
#asideLeft h1 {
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:normal;
	color:#363E40;
	text-transform:uppercase;
}
#asideLeft h2 {
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#363E40;
	text-transform:uppercase;
}
#asideLeft p {
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
	color:#363E40;
}

#asideRight {
	position:absolute;
	top:25px;
	left:295px;
	display:inline-block;
}
#asideRight div {
	position:absolute;
	top:248px;
	width:675px;
	height:50px;
	background-color:black;
}

.asideRigthText1 {
	position:absolute;
	width:200px;
	top:15px;
	left:20px;
	color:#fff;
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:13px;
	text-transform:uppercase;
}
.asideRigthText2 {
	position:absolute;
	top:8px;
	left:240px;
	width:400px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

/* category colors ------------------------------------------------------------------------- */
tr.cat3active, tr.cat3active td{	/* Boire & manger */
	background-color:#B21410 !important; 
}
tr.cat28active, tr.cat28active td{	/* Dormir */
	background-color:#F22600 !important;
}
tr.cat32active, tr.cat32active td{	/* Être solidaire */
	background-color:#E5662B !important;
}
tr.cat39active, tr.cat39active td{	/* Faire du shopping */
	background-color:#B12553 !important;
}
tr.cat57active, tr.cat57active td{	/* Prendre soin de soi */
	background-color:#2A9D1F !important;
}
tr.cat67active, tr.cat67active td{	/* Rester chez soi */
	background-color:#804F82 !important;
}
tr.cat76active, tr.cat76active td{	/* S’occuper des enfants */
	background-color:#818806 !important;
}
tr.cat87active, tr.cat87active td{	/* S’organiser */
	background-color:#D8A003 !important;
}
tr.cat94active, tr.cat94active td{	/* Sortir */
	background-color:#F22165 !important;
}
tr.cat99active, tr.cat99active td{	/* Voir & apprendre */
	background-color:#384AA6 !important;
}