
header div{
}

#headerTop{
	text-align:right;
}

#headerLogin{
	display:inline-block;
	height:22px;
	padding-right:30px;
	margin-right:20px;
	margin-top:3px;
	background:url('../img/login_avatar.png') no-repeat right;
}

#headerLogin p{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:11px;
	letter-spacing:0.5px;
	margin-top:4px;
}

#headerLogin_open{
	display:none;
	position:absolute;
	right:42px;
	top:30px;
	width:306px;
	height:161px;
	border-left:#6FB6C6 3px solid;
	border-right:#6FB6C6 3px solid;
	border-bottom:#6FB6C6 3px solid;
	background-color:#fff;
	z-index:2;
}

#headerLang{
	position:relative;
	right:10px;
	top:2px;
	display:inline-block;
	width:22px;
	background:url('../img/arrow_right_small.png') no-repeat right;
	padding-right:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
}

#headerLang_open{
	display:none;
	position:absolute;
	right:0px;
	top:30px;
	width:42px;
	height:48px;
	background-color:#6FB6C6;
	z-index:2;
}

#headerLang_open li{
	list-style:none;
	padding-right:12px;
	padding-top:2px;
}

/* LOGIN menu ----------------------------------------------------------------------------------------------------- */
#headerLogin_open{
	display:none;
	text-align:left;
}

#headerLogin_open label,input{
	display:block;
	margin:13px 0px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}

#headerLogin_open input{
	margin:3px 0px 0px 10px;
	width:200px;
	height:20px;
	border:1px solid #ccc;
	border-radius:3px;
}

#headerLogin_open a:first-of-type{
	display:block;
	margin:12px 0px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#999;
}
#headerLogin_open a:last-of-type{
	display:block;
	margin:5px 0px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5F9CAA;
}

/* SEARCH menu ----------------------------------------------------------------------------------------------------- */
#headerSearch{
	position:absolute;
	top:50px;
	left:470px;
	z-index:1;
}
#headerSearch ul{
	list-style:none;
}
#headerSearch img{
	position:absolute;
	top:2px;
	right:2px;
}
#headerSearch .searchButton{
	position:absolute;
	top:0px;
	left:480px;
	width:21px;
	height:21px;
	margin: 0px;
	border: 0px;
	background-image:url('../img/button_search.png');
}
#headerSearch .scrollbar{
	position:absolute;
	top:5px;
	left:134px;
	width:11px;
	height:189px;
}
#searchWhere, #searchWhen, #searchWhat{
	position:absolute;
	left:0px;
	width:150px;
	height:20px;
	border:1px solid #999;
	border-radius:3px;
	overflow:hidden;
	background-color:#fff;
	cursor:pointer;
}
#searchWhen{
	left:160px;
}
#searchWhat{
	left:320px;
}
#headerSearch p{
	padding-left:5px;
	margin-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#808080;
	text-transform:uppercase;
}
#headerSearch .toggleSubMenu:first-child{
	margin-top:5px;
}

#headerSearch .toggleSubMenu>a{
	display:block;
	padding:2px 0px 2px 25px;
	margin-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	text-transform:uppercase;
	color:#363E40;
	background:url('../img/list_plus.png') no-repeat 10px;
}
#headerSearch .open>a{
	background:url('../img/list_minus.png') no-repeat 10px;
}
#headerSearch .subMenu a{
	display:block;
	margin-right:10px;
	padding:0px 0px 2px 35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#363E40;
	background:url('../img/list_unchecked.png') no-repeat 20px;
}
#headerSearch .subMenu li:last-child{
	padding-bottom:5px;
}
#headerSearch .checked a{
	background:url('../img/list_checked.png') no-repeat 20px;
}
