
/* article left ------------------------------------------------------------------------- */

.articleStickerLong{
	position:absolute;
	left:285px;
	top:0px;
	width:258px;
	height:21px;
	text-align:center;
	text-transform:uppercase;
	background-color:black;
	border-radius:0px 3px 3px 0px;
	margin-top:10px;
	z-index:1;
}
.articleLeft {
	position:absolute;
	left:10px;
	width:285px;
	height:544px;
	background-color:#363E40;
}
.article .question{
	color:#F1F0F0;
	padding:20px 15px 0px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.article p:nth-child(7){
	margin-top:10px;
}
.article .answer{
	padding:3px 15px 0px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:none;
}
#articleButton{
	position:absolute;
	left:25px;
	top:415px;
}
#articleButton a{
	display:block;
	margin-bottom:3px;
	color:#CFCECE;
	padding-left:30px;
	padding-top:4px;
	height:20px;
}
#articleButton .buttonBook{
	background:url('../images/icon_book_billet.png') left no-repeat;
}
#articleButton .buttonGeo{
	background:url('../images/icon_geolocaliser_billet.png') left no-repeat;
}
#articleButton .buttonShare{
	background:url('../images/icon_share_billet.png') left no-repeat;
}
#articleButton .buttonAdd{
	background:url('../images/icon_add_billet.png') left no-repeat;
}

/* article bottom ------------------------------------------------------------------------- */

.articleBottom {
	position:absolute;
	left:295px;
	top:285px;
	width:675px;
	height:259px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff !important;
	font-size:12px;
}
.articleBottom h1{
	font-family:Rosario, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	margin:10px 25px 0px 25px;
}
.articleBottom p{
	margin:10px 25px 0px 25px;
	text-align:justify;
	line-height:1.4em;;
}
.articleBottom .signature{
	margin:10px 25px 0px 25px;
	text-align:right;
}
.articleBottom a.back{
	position:absolute;
	bottom:25px;
	right:25px;
	padding-right:25px;
	background:url('../images/arrow_left.png') no-repeat right;
}

/* category colors ------------------------------------------------------------------------- */
.cat1{	/* Boire & manger */
	background-color:#B21410;
	color:#FF4D4D;
}
.cat2{	/* Dormir */
	background-color:#F22600;
	color:#F22600;
}
.cat3{	/* Être solidaire */
	background-color:#E5662B;
	color:#E5662B;
}
.cat4{	/* Faire du shopping */
	background-color:#B12553;
	color:#FF6EA2;
}
.cat5{	/* Prendre soin de soi */
	background-color:#2A9D1F;
	color:#47FF33;
}
.cat6{	/* Rester chez soi */
	background-color:#804F82;
	color:#804F82;
}
.cat7{	/* S’occuper des enfants */
	background-color:#818806;
	color:#818806;
}
.cat8{	/* S’organiser */
	background-color:#D8A003;
	color:#D8A003;
}
.cat9{	/* Sortir */
	background-color:#F22165;
	color:#FF5290;
}
.cat10{	/* Voir & apprendre */
	background-color:#384AA6;
	color:#889FFF;
}
