@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: local('Rosario Regular'), local('Rosario-Regular'), url(http://themes.googleusercontent.com/static/fonts/rosario/v6/ezOfwrf8tfghIjoxXsTT9g.ttf) format('truetype');
}
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  src: local('Rosario Bold'), local('Rosario-Bold'), url(http://themes.googleusercontent.com/static/fonts/rosario/v6/C6vOqPM2grRKaQTsxWhqnC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 400;
  src: local('Rosario Italic'), local('Rosario-Italic'), url(http://themes.googleusercontent.com/static/fonts/rosario/v6/qPuMCAX6nBODQfYbsOfqLqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 700;
  src: local('Rosario Bold Italic'), local('Rosario-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/rosario/v6/EOgFX2Va5VGrkhn_eDpIRYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
