@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(http://themes.googleusercontent.com/static/fonts/antic/v4/oPxV1dkj-zBXVn8gGPEP7w.ttf) format('truetype');
}
